<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <title>Web Chat App</title>
    <link href="/styles.css" rel="stylesheet" />
</head>

<body>

    <div id='web-chat'>
        <h2>Encrypted Chat</h2>
        <div id="encKey"></div>
        <div id="changeUsername">
            <input id="username" type="text" placeholder="Enter username" />
            <button id="sendUsername" type="button">Change username</button>
        </div>
        <div id="chatroom">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <div id="input_zone">
            <input id="message" class="vertical-align" type="text" placeholder="Enter message" />
            <button id="sendMessage" class="vertical-align" type="button">Send</button>
        </div>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="/chat.js"></script>
</body>

</html>
